/* application.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

#left img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
   
}

h2 {
    text-align: center;
    font-size: 70px; /* Large font size for the heading */
    color: red;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 30px 40px; /* Padding on left and right sides */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #0066cc;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}

button {
    padding: 12px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(248, 96, 96);
}
